:root {
  --bacground-color-primary:#20112d;
  --primary-color:#ffffff;
  --seconary-color:#3ddeed;
  --leter-color:#182627;
  --footer-color:#0f041c;
  --opaci-white-color:#ffffff80;
}

body{
   background-color: var(--bacground-color-primary);
   display: flex;
   width: 1960px;
   margin: 0;
   font-family:'Satoshi', sans-serif !important;
   
}
.Principal{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.Nav{
  flex-grow: 1;
}
.Nav{
 display: flex;
 justify-content: space-around;
 align-items: center;
}
.links{
  display: flex;
  list-style-type: none;
}
.links>li a{
  font-size: 20px;
  margin: 0px 15px;
  text-decoration: none;
  color:var(--primary-color)

}
.logo{
 display: flex;
 font-size: 15px;
}
.logo>.uno{
  color:var(--seconary-color);
}
.logo>.dos{
  color:var(--primary-color);
}
.busqueda{
  display: flex;
  align-items: center;
}
.Content{
  display: flex;
  justify-content: space-between;
}
.Content{
  flex-grow: 1;
}
.present{
  display: flex;

}
.present{
  margin: 70px 0px 0px 225px;
  width: 630px;
  height: 641px;
}
.present{
  flex-direction: column;
}
.image{
  display: flex;
  justify-content: center;
  margin: 45px 0 0 0;
  width: 995px;
  height: 636px;
}
.image1{
  position: absolute;
  z-index: -1;
  padding: 45px 92px ;
}
.image2{
  position: relative;
  left: 200px; 
  margin: 0;
}
.image3{
  position: relative;
  left: 580px;
  top: 155px;
  margin: 0;
}
.image4{
  position: relative;
  top: 590px;
  left: -241px;
}
.image5{
  position: relative;
  filter: blur(25px);
  border-radius: 50%;
  top: 135px;
  left: -261px;
}
.inicio{
  color: var(--primary-color);
}
.inicio>h3{
  margin: 0;
}
.titulo{
  color: var(--primary-color);
  font-size: 37px;  
}
.parrafo{
  display: flex;
  font-size: 13px;
  color: var(--primary-color);
}
.parrafo>p{
  font-size: 20px;
  margin: 0;
}
.butoons{
display: flex;
}
.butoons{
  justify-content: space-between;
  width: 353px;
  height: 56px;
  margin: 20px 0;
}
.boto-primary{
  color: var(--leter-color);
  width: 45%;
  height: 55px;
 background-color: var(--seconary-color);
}
.boton-secondary{
  width: 45%;
  height: 55px;
  color: var(--primary-color);
}
.follow-us{
  color: var(--primary-color);
}
.Primera-Seccion{
 display: flex;
justify-content: space-between;
 margin: 60px 0 0 0;
}
.image-main{
  display: flex;
  justify-content: center;
  width: 746.73px;
  height: 524px;
  margin: 85px 0px 0px 109px;
}
.gafas-rv{
  position: absolute;
}
.primer-elipse{
  position: relative;
  top: 70px;
  left: 125px;
}
.segundo-elipse{
  position: relative;
  top: 125px;
  left: -500px;
}
.pagragram-main{
  width: 688px;
  margin: 97px 165px 0px 0px;
}
.title-inter{
  color: var(--primary-color);
  font-size: 33px;
}
.cajainterna{
  display: flex;
}
.caja-props{
  display: flex;
  color: var(--primary-color);
  width: 326px;
  height: 48px;
  margin: 30px 0 0 0;
}
.caja-props>p{
  margin: 0 ;
}
.Segunda-Seccion{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1485.06px;
  margin: 60px 350px;
}
.Segunda-Seccion-letras{
  display: flex;
  flex-direction: column;
  color:var(--primary-color) ;  
  width: 568px;
  height: 435px;
  gap: 40px 0;
}
.Segunda-Seccion-letras>h1{
  font-size: 57px;
}
.Segunda-Seccion-imagenes{
  display: flex;
 width: 833.06px;
 height: 648;
}
.main-button{
  color: var(--seconary-color);
  width: 207px;
  height: 60px;
}
.ususarios{
 display: flex;
 align-items: center;
}
.banner-main-segunda-seccion{
  position: relative;
  left: 50px;
}
.banner-main-segunda-seccion2{
  position:absolute;
  top: 1878px;
}
.Footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--footer-color);
  margin: 100px 0 0 0;
  width:1960px ;
  height:484px ;
}
.footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width:1408px ;
  height:209px ;
}
.Reference{
  width:176px ;
  height:128px ;
}
.Reference>p{
  color: var(--opaci-white-color);
}

.Contact  {
  justify-content: space-between  ;
  display: flex;
  width:359px ;
  height:209px ;
}
.primer-menu{
  display: flex;
  width: 59px;
  height: 209px;
}
.segundo-menu{
  width: 82px; 
  height: 209px;
}
.lista-interma{
  list-style-type: none;
  width: 59px;
  height: 209px;
}
.primary-lists{
  color: var(--primary-color);
}
.secondary-list{
  color:var(--opaci-white-color);
  margin: 30px 0 0 0;
}
.loging-footer{
  width: 446px;
  height: 198px;
}
.loging-footer>h2{
  color: var(--primary-color);
  margin: 40px 0 ;
}
.loging-footer>p{
  color: var(--opaci-white-color);
}
.texts{
  color: var(--primary-color);
}
.resolution{
  margin: 30px 0;
}
.button-footer{
  background-color: var(--seconary-color);
  font-weight: bold;
  color: var(--bacground-color-primary);
  height: 53px;
}
.footer2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 70px 0 ;
}
.footer2>p{
  color: var(--opaci-white-color);
}